In [9]:
import pandas as pd



def read_excel_sheets(file_path, sheet_names):
    data = {}
    for sheet_name in sheet_names:
        data[sheet_name] = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=1)
    return data

data = read_excel_sheets('41593_2016_BFnn4353_MOESM13_ESM(2).xlsx', ['prb_rec_LGD', 'prb_LGD', 'prb_SYN', 'sib_LGD', 'sib_SYN'])

C:\Users\joaop\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\joaop\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\joaop\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\joaop\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\joaop\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [13]:
data['prb_rec_LGD']

    gene id   symbol  family status  gene status
0     23394     ADNP              0            0
1       287     ANK2              1            1
2     29123  ANKRD11              0            0
3     57492   ARID1B              0            0
4      1106     CHD2              1            1
5     57680     CHD8              1            0
6     23181    DIP2A              0            1
7      1826    DSCAM              1            1
8      1859   DYRK1A              0            0
9     27086    FOXP1              0            0
10    64599   GIGYF1              1            1
11     2904   GRIN2B              0            0
12    83473  KATNAL2              0            0
13    10765    KDM5B              1            1
14    23135    KDM6B              0            1
15    55904    KMT2E              0            1
16    23389   MED13L              0            1
17    10787   NCKAP1              0            1
18     5253     PHF2              0            1
19    23126     POGZ              0            0
20    22999    RIMS1              0            1
21     6326    SCN2A              0            0
22    10716     TBR1              0            0
23     6934   TCF7L2              1            1
24    23112   TNRC6B              0            1
25    51322      WAC              1            1
26    23001    WDFY3              0            1

# Convert Symbol to Ensembl id

In [11]:
from gprofiler import GProfiler

final_gmt = []


for key in data.keys():
    
    NCBI_id = data[key]['gene id'].tolist()
    print(len(NCBI_id))

    gp = GProfiler(return_dataframe=True)
    gp_convert_df =gp.convert(organism  = 'hsapiens',
                                query= NCBI_id,
                                    target_namespace= 'ENSG',
                                    numeric_namespace='ENTREZGENE_ACC',)
    gp_convert_df = gp_convert_df[['incoming', 'converted']]

    ensemble_list = gp_convert_df['converted'].tolist()
    gene_string = '\t'.join(ensemble_list)

    gmt_file= f'{key}\tMutation: {key}\t' + gene_string
    
    final_gmt.append(gmt_file)

27
352
609
175
465

In [14]:
final_gmt[0]

'prb_rec_LGD\tMutation: prb_rec_LGD\tENSG00000101126\tENSG00000145362\tENSG00000167522\tENSG00000049618\tENSG00000173575\tENSG00000100888\tENSG00000160305\tENSG00000171587\tENSG00000157540\tENSG00000114861\tENSG00000146830\tENSG00000273079\tENSG00000167216\tENSG00000117139\tENSG00000132510\tENSG00000005483\tENSG00000123066\tENSG00000061676\tENSG00000197724\tENSG00000143442\tENSG00000079841\tENSG00000136531\tENSG00000136535\tENSG00000148737\tENSG00000100354\tENSG00000095787\tENSG00000163625'

In [12]:
with open('krish_duda.gmt', 'w') as f:
    for line in final_gmt:
        f.write(line + "\n")